<h1>情報を入力して下さい</h1>
<%= form_with model: @indicated_value, local: true do |f| %>
  <div class="field">
    <%= f.label :image, "機器番号の画像" %>
    <%= f.file_field :images, multiple: true, id:"equipment-image-file" %>
    <div id="equipment-file-view_box"></div>
  </div>
  <div class="field">
    <div id="attachment">
    <span>機器番号の画像</span>
    <label><input type="file" accept="image/*" capture="camera" id="equipment-image-camera" >カメラ起動</label>
    <span class="filename">選択されていません</span>
    </div>
    <div id="equipment-camera-view_box"></div>
  </div>
  <div class="field">
    <%= f.label :equipment_number, "機器番号" %>
    <%= f.text_field :equipment_number %>
  </div>
  <div class="field">
    <% ["圧力","温度","電流","その他"].each do |instrument_type| %>
      <%= f.check_box :instrument_type, {multiple: true}, instrument_type, nil %>
      <%= instrument_type %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image, "値の画像" %>
    <%= f.file_field :images, multiple: true, id:"instruction-image-file" %>
    <div id="instruction-file-view_box"></div>
  </div>
  <div class="field">
    <div id="attachment">
    <span>値の画像</span>
    <label><input type="file" accept="image/*" capture="camera" id="instruction-image-camera" >カメラ起動</label>
    <span class="filename">選択されていません</span>
    </div>
    <div id="instruction-camera-view_box"></div>
  </div>
  <div class="field">
    <%= f.label :instruction, "指示値" %>
    <%= f.text_field :instruction %>
  </div>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
